header form {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

header input {
    width: 230px;
    height: 30px;
    border-radius: 4px;
    border: 2px brown solid;
}


#container {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
    
}


.anime-template-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 24%;
    margin-bottom: 20px;
    border: 1px solid black;
    text-align: center;
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
}


.image {
    display: flex;
    margin: auto;
}